<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.online">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 锁屏权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".act.EduApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".act.FirstPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.login.RegisterPage1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <activity
            android:name=".act.video.VideoMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.video.LiveTelecast"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.login.RegisterPage2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.login.RegisterPage3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.login.CompleteDataPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.login.SubjectSelector"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.MainPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.SearchAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.SearchResultAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.order.SubmitOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.order.OrderPay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.order.WalletRecharge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity android:name=".act.CourseMainPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.VideoMainPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.TeacherInfoEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.AuthMenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.MyOrders"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.TeacherHomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.TeacherInformationPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.MyRatePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.TeacherAuthPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />

        <activity android:name=".act.teacher.TeacherCourseStart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.CourseBaseInfoEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.LiveCourseEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.CourseMemberEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.CoursePriceEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.CourseBaseInfoEdit2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.CourseTimeSet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.AddSerialClass"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.teacher.PersonalInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyWalletCharge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.HelpandFeedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.IllegalReport"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.Settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.SuggestionAndFeedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyWallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyWalletHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.UserInfoEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyEvaluation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.UserOrderDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />

        <activity android:name=".act.Mine.MyQuestion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.AskAndAnswer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.EvaluationEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyOrderUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyInteresting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.Mine.MyCourseMuti"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.order.GetVeriCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.order.SetPayPwd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.discovery.MyAnswers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.discovery.QuestionDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.discovery.IwantToAnswer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.discovery.AskAndSpeedAnswer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.discovery.GrowingSpace"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />


        <activity android:name=".act.discovery.ChatPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.ChatSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.DiscoverMap"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.InvitePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.MessageMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.SignEveryday"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.StudentIntroduction"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.MyFavoriteList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />
        <activity android:name=".act.discovery.SystemMessagePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"  />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="keUx4VsbXGW0ITj8dwKmtDGMiz6biN6r" />
    </application>

</manifest>